<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>OccupancyDB: Your Profile</title>
    <link rel="stylesheet" type="text/css" href="/Libraries/semantic/out/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/Pages/User/index.css">
    <script src="/Libraries/jquery-3.1.1.js"></script>
    <script src="/Libraries/semantic/out/semantic.min.js"></script>
    <!-- Always put our JS last so that if our JS calls something from another JS file, it's already available -->
    <script src="/Pages/User/index.js"></script>
</head>

<body onload="init(<%- (darkMode) %>)" style="display: none;">
    <div class="color" style="display: none"><%= color %></div>
    <div class="ui container">
        <!-- Following Menu -->
        <div class="ui top fixed menu">
            <!-- Conditionally draw the account item -->
            <a class="ui dropdown item">
                <i class="ui user circle icon"></i>
                <%= user.email %>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="active item" onclick="location.href='/user'">
                        <i class="settings icon"></i> Account Info & Settings
                    </div>
                    <div class="item" onclick="location.href='/logout'">
                        <span style="color: #db2828 !important">
                            <i class="red sign out icon"></i>Log Out
                        </span>
                    </div>
                </div>
            </a>
            <div class="ui item" onclick="location.href='/'">
                <i class="ui home icon"></i> Main
            </div>
        </div>
        <div class="ui middle aligned center aligned grid">
            <div class="row">
                <div class="column">
                    <h2 class="ui header">
                        <div class="content">
                            Your Account
                        </div>
                    </h2>
                    <h3 class="ui header">
                        E-Mail: <%= user.email %>
                    </h3>
                    <p>(This cannot be changed)</p>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h2 class="ui header">
                        <div class="content">
                            Change Password
                        </div>
                    </h2>
                    <form class="ui large form" action="/change-password" method="post">
                        <div class="ui stacked segment">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="unlock icon"></i>
                                    <input type="password" name="old_pass" placeholder="Old Password">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="new_pass" placeholder="New Password">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="new_pass_conf" placeholder="(Confirm)">
                                </div>
                            </div>
                            <div class="ui fluid large <%= color %> submit button">Change Password</div>
                        </div>
                        <div class="ui error message"></div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h2 class="ui header">
                        <div class="content">
                            Your Preferences
                        </div>
                    </h2>
                    <div class="ui grid">
                        <div class="centered row">
                            <h3 class="ui header">
                                Dark / Light Mode
                            </h3>
                        </div>
                        <div class="centered row">
                            <div class="ui black basic button" onclick=submitModePref(this)>
                                Dark
                            </div>
                            <div class="ui white basic button" onclick=submitModePref(this)>
                                Light
                            </div>
                        </div>
                        <div class="centered row">
                            <h3 class="ui header">
                                Color Preference
                            </h3>
                        </div>
                        <div class="centered row">
                            <div class="ui red basic button" onclick="submitColor(this)">
                                Red
                            </div>
                            <div class="ui orange basic button" onclick="submitColor(this)">
                                Orange
                            </div>
                            <div class="ui yellow basic button" onclick="submitColor(this)">
                                Yellow
                            </div>
                            <div class="ui olive basic button" onclick="submitColor(this)">
                                Olive
                            </div>
                            <div class="ui green basic button" onclick="submitColor(this)">
                                Green
                            </div>
                            <div class="ui teal basic button" onclick="submitColor(this)">
                                Teal
                            </div>
                            <div class="ui blue basic button" onclick="submitColor(this)">
                                Blue
                            </div>
                            <div class="ui violet basic button" onclick="submitColor(this)">
                                Violet
                            </div>
                            <div class="ui purple basic button" onclick="submitColor(this)">
                                Purple
                            </div>
                            <div class="ui pink basic button" onclick="submitColor(this)">
                                Pink
                            </div>
                            <div class="ui grey basic button" onclick="submitColor(this)">
                                Grey
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h2 class="ui header">
                        <div class="content">
                            <i class="file excel icon"></i>Your Data
                        </div>
                    </h2>
                    <div class="ui <%= color %> button" onclick="location.href = '/user/download'">
                        <i class="download icon"></i>Download as CSV
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <button class="ui big red button" onclick="$('.ui.modal').modal('show');">
                        <i class="ui eraser icon"></i> Delete Your Account
                    </button>
                    <div class="ui modal">
                        <i class="close icon"></i>
                        <div class="ui header">
                            Account Deletion Confirmation
                        </div>
                        <h3 class="ui description" style="text-align: center">
                            Do you really want to delete your account?
                        </h3>
                        <form action="/delete-account" method="post" style="padding-bottom: 1rem;">
                            <center>
                                <button class="ui big red button" type="submit">
                                    <i class="eraser icon"></i> Delete Your Account Permanently
                                </button>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>